@use 'scss/' as s;


h1 {
    font: normal normal 300 43px/53px Montserrat;
    letter-spacing: 0px;
    color: s.$auth-h1-white;
    opacity: 1;
}

label {
    font: normal normal normal 13px/16px Montserrat;
    letter-spacing: 0px;
    color: s.$auth-label-white;
    opacity: 1;
}

input {
    background: s.$auth-default-font-color 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 6px s.$auth-box-shadow !important;
    opacity: 1 !important;
    outline: none !important;
    border: 0 !important;
    padding: 5px;
    height: 45px;
}

.helper-text {
    font: normal normal normal 12px/15px Montserrat;
    color: s.$auth-default-font-color;
}

.validation-errors {
	color: s.$auth-validation-error;
    font: normal normal normal 12px/16px Montserrat;
	font-size: 12px;
	margin-top: 7px;
}

button {
    background: s.$auth-btn-color 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px s.$auth-box-shadow;
    border-radius: 5px;
    opacity: 1;
    border: 0;
    width: 100%;
    height: 45px;
    color: s.$auth-default-font-color;
}

button:focus {
    border:none;
    outline: none;
}

button:hover {
    background: s.$auth-btn-hover-color 0% 0% no-repeat padding-box;
    transition: 0.7s;
}

footer {
    margin-top: 50px;
}

footer a {
    font: normal normal normal 13px/15px Montserrat;
    letter-spacing: 0px;
    color: s.$auth-default-font-color;
    opacity: 1;
    outline: none;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}