@use 'scss/' as styles;

/*
    General
*/
:root {
    --popper-theme-background-color: #ffffff;
    --popper-theme-background-color-hover: #ffffff;
    --popper-theme-text-color: #333333;
    --popper-theme-border-width: 1px;
    --popper-theme-border-style: solid;
    --popper-theme-border-color: #eeeeee;
    --popper-theme-border-radius: 6px;
    --popper-theme-padding: 32px;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

html, body {
    height: 100%;
    background-color: styles.$default-bg-color;
}

*:focus {
    outline: none;
}

.btn-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btn-extended {
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 3px 6px styles.$default-box-shadow;
    color: styles.$btn-defult-text-color;
    margin: 0;
    padding: 0;
    width: 213px;
    height: 49px;
}

.btn-delete {
    background: styles.$btn-default-delete 0% 0% no-repeat padding-box;
}

.btn-delete:hover {
    background: styles.$btn-default-delete-hover 0% 0% no-repeat padding-box;
    transition: 0.7s;
}

.text-positive {
    color: styles.$default-postive-color;
}

.btn-add {
    background-color: styles.$btn-default-success;
    color: styles.$btn-defult-text-color;
}

.btn-add:hover {
    background-color: styles.$btn-default-succes-hover;
    color: styles.$btn-defult-text-color;
}

.btn-primary {
    color: styles.$btn-defult-text-color;
    background: styles.$btn-default-next;
    border: 1px solid styles.$btn-default-next;
}

.btn-primary:hover, .btn-primary:active {
    color: styles.$btn-defult-text-color;
    border: 1px solid styles.$btn-default-next-hover;
    background: styles.$btn-default-next-hover;
}

.btn-outline-primary {
    border: 1px solid styles.$btn-default-next;
    color: styles.$btn-default-next;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    background-color: styles.$btn-default-next !important;
    border: 1px solid styles.$btn-default-next !important;
}