@use 'scss/' as styles;

/*
    General
*/
:root {
    --popper-theme-background-color: #ffffff;
    --popper-theme-background-color-hover: #ffffff;
    --popper-theme-text-color: #333333;
    --popper-theme-border-width: 1px;
    --popper-theme-border-style: solid;
    --popper-theme-border-color: #eeeeee;
    --popper-theme-border-radius: 6px;
    --popper-theme-padding: 32px;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

html, body {
    height: 100%;
    background-color: styles.$default-bg-color;
}

*:focus {
    outline: none;
}

.btn-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btn-extended {
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 3px 6px styles.$default-box-shadow;
    color: styles.$btn-defult-text-color;
    margin: 0;
    padding: 0;
    width: 213px;
    height: 49px;
}

.btn-delete {
    background: styles.$btn-default-delete 0% 0% no-repeat padding-box;
}

.btn-delete:hover {
    background: styles.$btn-default-delete-hover 0% 0% no-repeat padding-box;
    transition: 0.7s;
}

.text-positive {
    color: styles.$default-postive-color;
}

.btn-add {
    background-color: styles.$btn-default-success;
    color: styles.$btn-defult-text-color;
}

.btn-add:hover {
    background-color: styles.$btn-default-succes-hover;
    color: styles.$btn-defult-text-color;
}

.btn-primary {
    color: styles.$btn-defult-text-color;
    background: styles.$btn-default-next;
    border: 1px solid styles.$btn-default-next;
}

.btn-primary:hover, .btn-primary:active {
    color: styles.$btn-defult-text-color;
    border: 1px solid styles.$btn-default-next-hover;
    background: styles.$btn-default-next-hover;
}

.btn-outline-primary {
    border: 1px solid styles.$btn-default-next;
    color: styles.$btn-default-next;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    background-color: styles.$btn-default-next !important;
    border: 1px solid styles.$btn-default-next !important;
}


/*
Navigation
*/
.navbar {
    height: 80px;
    background-color: styles.$default-navyblue;
}

.navbar-brand {
    color: white;
    font: normal normal 500 28px/37px Montserrat;
    letter-spacing: 1.5px;
}

.nav-icon {
    font-size: 32px;
}

.nav-name-field {
    font: normal normal 300 13px/25px Montserrat;

    h6 {
        font: normal normal bold 13px/25px Montserrat;
        margin: 0;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

.nav-profile-container {
    

    .nav-profile-btn {
   
        p {
            margin: 0;   
            content:attr(data-letters);
            display:inline-block;
            font: normal normal 800 15px/25px Montserrat;
            font-size:1em;
            width:3em;
            height:3em;
            line-height:3.1em;
            text-align:center;
            border-radius:50%;
            background: styles.$default-bg-color;
            vertical-align:middle;
            color: styles.$default-navyblue;
        }
    
    }

    .dropdown-menu {
        font: normal normal normal 14px/19px Montserrat;
        box-shadow: 0px 3px 6px styles.$default-box-shadow !important;
        border: 1px solid styles.$nav-menu-border;
        color: styles.$default-navyblue;
        cursor: pointer;

        padding: 0;
        margin: 0;

        a:hover {
            background-color: styles.$nav-menu-a-hover;
        }

        a:active {
            color: styles.$default-navyblue;
        }
    }

    .dropdown-toggle::after {
        content: none;
    }

    .dropdown-menu::before {
        content: '';
        position: absolute;
        top: -20px;
        left: 71%;
        border: 10px solid transparent;
        border-bottom-color: styles.$nav-menu-bg-color;
    }

    .dropdown-menu[data-bs-popper] {
        left: auto;
        right: 15px;
    }

    .dropdown-item {
        text-align: center;
        padding: 10px 30px;
        border-bottom: 1px solid styles.$nav-menu-item-border;
    }

    .dropdown-item-header {
        text-align: center;
        font-weight: bold;
        display: block;
        width: 100%;
        padding: 10px 30px;
        border-bottom: 1px solid styles.$nav-menu-item-border;
    }
}

/*
    Homeview
*/

main {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}


/*
Modal
*/
.modal-confirm {
    color: styles.$default-navyblue;
	width: 400px;

    .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
        text-align: center;
        font-size: 14px;
    }

    .modal-header {
        border-bottom: none;   
        position: relative;
    }

    h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -10px;
    }

    .close {
        position: absolute;
        top: -5px;
        right: -2px;
    }

    .modal-body {
        color: styles.$default-navyblue;
    }

    .modal-footer {
        border: none;
        text-align: center;		
        border-radius: 5px;
        font-size: 13px;
        padding: 10px 15px 25px;
    }


    .icon-box {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 9;
        text-align: center;
        border: 3px solid styles.$btn-default-delete;
    }

    .icon-box svg {
        color: styles.$btn-default-delete;
        font-size: 46px;
        display: inline-block;
        margin-top: 13px;
    }

    .btn, .modal-confirm .btn:active {
        border-radius: 4px;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        min-width: 120px;
        border: none;
        min-height: 40px;
        border-radius: 3px;
        margin: 0 5px;
    }

    .btn-secondary {
        background: styles.$modal-soft-gray-color;
    }

    .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
        background: styles.$modal-darker-gray-color;
    }

    .btn-danger {
        background: styles.$btn-default-delete;
    }

    .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: styles.$btn-default-delete-hover;
    }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
}




/**
* Create new button
*/

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0; // changed
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }

.btn-circle.btn-lg {
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 20px;
    line-height: 1.40px;
    border-radius: 22.5px;
}

.add-extra-area {
    height: 40px;
    margin: 0;

    label {
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold;
    }
}


/**
    Input
*/
.input-form {
    background-color: styles.$input-default-bg;
    border: 1px solid styles.$input-default-border;
    width: 350px;
}