$default-navyblue: #0D2F41; 
$default-bg-color: #F8F8F8;
$default-box-shadow: #00000029;
$default-postive-color: #4BB543;
$default-negative-color: #FF0000;
$default-placeholder-color: #CFCFCF;

$btn-defult-text-color: #FAFAFA;
$btn-default-success: #4BB543;
$btn-default-succes-hover: #338b2c;
$btn-default-delete: #BF2525;
$btn-default-delete-hover: #9c1818;
$btn-default-next: #0375B4;
$btn-default-next-hover: #01639a;


/*
Auth
*/
$auth-bg-dark: #0D2F41;
$auth-bg-darker: #031B27;
$auth-bg-blue-light: #0375B4;

$auth-h1-white: white;
$auth-label-white: white;
$auth-default-font-color: white;

$auth-btn-color: #2AC488;
$auth-btn-hover-color: #24ad78;
$auth-box-shadow: #00000029;
$auth-validation-error: yellow;
